.container{
    margin : 0 auto;
    text-align : center;
    background-color : #D3D3D3


}
.container h2{
    font : 20px, sans-serif;
    padding : 5px;
}

.container h3{
    font : 30px, robot;

}

.results, .game-btn{
    background : url("https://wallpaperaccess.com/full/845581.jpg") right;
}

.results{
    padding : 10px;
    display : flex;
    flex-wrap : wrap;
    flex-direction : row;
    justify-content : space-around;
    border : 1px solid black;
    color : blue;

}

.results div{
    flex : 1;
    border : 2px solid black;
}

.your-score, .dealer-score{
    padding : 10px;
    height : 630px;
 }

.score-card tr, th, td{
    border : 1px solid black;
}

table{
    margin : 20px auto;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid black;
}

img{
    margin : 20px
}



#popup{
    width : 20%;
    position : fixed;
    top : 30%;
    right : 40%;
    tranform : translate(-50%, -50%);
    border : 1px solid black;
    border-radius : 10px;
    z-index : 190;
    background-color : white;
    max-width :80%

}

#header{
    padding : 10px 15px;
    display : flex;
    flex-wrap : space-around;
    justify-content: space-between;
    align-items : center;
    border-bottom : 1px solid black;
}

#title{
 font-size : 1.25rem;
 font-weight : bold;
}

#close-btn{
    cursor : pointer;
    border : none;
    outline : none;
    background : none;
    font-size :  1.25rem;
    font-weight : bold;
}

#p-body{
    padding : 2px 15px;
}

#overlay{
    position : fixed;
    top : 0;
    left :0;
    right :0;
    bottom : 0;
    pointer-events : none;
    background-color : rgba(0,0,0, .5)
}